.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2em;
    padding: 1em;
    margin: 1em;
    transition: box-shadow 300ms;
  }
  
  .movie-card{
    padding: 1em;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
    transition: box-shadow 300ms;
  }
  
  .movie-card:hover{
      transform: scale(1.025);
      transition: transform 0.5s;
  }
  
  
  .movie-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 1em;
  }
  
  .movie-image{
    width: 100%;
    height: auto;
  }
  
  .movie-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 1em;
  }
