/* Navbar.module.css */
.navbar {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 1000; 
}

.bodyContent {
  padding-top: 3rem;
}

.navLink {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.navLink:hover,
.navLink.active {
  color: #04d9ff;
}

.burgerMenu {
  display: none;
}

/* Styles for small screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .burgerMenu {
    display: initial;
    cursor: pointer;
    margin-right: 1rem;
  }

  .navItems {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .navItems.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navLink {
    margin: 0.5rem 0;
  }

.bodyContent {
    padding-top: 4rem; /* You might need more padding if the navbar becomes taller on smaller screens */
  }
}

.authLinks {
  display: flex;
  align-items: center;
}

.signupLink {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signupLink:hover {
  color: #04d9ff;
}
