.cinema-layout {
  max-width: 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 17px;
  padding: 3px;
  background: black;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.seat {
  width: 20px;
  height: 20px;
  margin: 2px;
  border: 1px solid #555;
  border-radius: 2px;
  position: relative;
  background-color: #317029;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0rem;
}

/* Add styles for seat numbers on hover */
.seat:hover::after {
  content: attr(data-seat-number);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
}

.seat:not(.reserved)::after {
  display: block;
}

.seat:hover:not(.reserved) {
  background-color: #88a2ac;
}

.seat:hover .hover-content {
  display: block;
}

.hover-content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.reserved {
  background-color: #830f0f;
  cursor: not-allowed;
}

.selected {
  background-color: #706e7a;
}

.row-label {
  font-size: 1.2em;
  color: #fff;
  padding: 0 10px;
}

@media (max-width: 768px) {
  .row {
    width: 100%;
  }
  .row-label {
    display: flex;
    margin: -2%;
  }
  .selection-modal {
    position: fixed;
    right: 0;
    top: 10%;
    width: 99px;
    height: 57vh;
    background-color: #353030;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
  }
}

/* Cinema Screen */
.cinema-screen-container {
  margin-bottom: 4px;
  position: relative;
  text-align: center;
  width: 100%;
  top: -5px;
  left: 15px;
}

.cinema-screen {
  width: 100%;
  height: 10%;
  display: block;
}

.screen-label {
  position: absolute;
  top: 37%;
  left: 47%;
  transform: translate(-50%, -10px);
  font-size: 1rem;
  font-family: "Roboto Regular";
  color: white;
  background: rgba(0, 0, 0, 0.75);
  padding: 1px 10px;
  border-radius: 5px;
  z-index: 10;
}

/* Seat Legend styles */

.seat-legend {
  display: flex;
  justify-content: center;
  padding-top: 20px; /* Spacing above the legend */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-indicator {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.available {
  background-color: #317029;
  border-radius: 3px;
}


.seat.selected {
  background-color: #706e7a;
  border-radius: 3px;
}

.seat:disabled {
  background-color: #ff0000;
  border-radius: 3px;
}

.legend-indicator.handicap {
  background-color: #2a5964;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("/handicap.svg");
  background-size: cover;
  border-radius: 3px;
}

.legend-indicator.vip {
  background-color: #2a5964;
  color: #353030;
  display: inline-block;
  width: 24px;
  height: 21px;
  background-image: url("/VIP.svg");
  background-size: fit;
  border-radius: 3px;
}

/* Available VIP seats */
.seat.vip.available img {
  filter: none;
}

/* Reserved VIP seats - red color */
.seat.vip.reserved img {
  filter: invert(27%) sepia(94%) saturate(7487%) hue-rotate(346deg)
    brightness(100%) contrast(101%);
}

/* Selected VIP seats - grey color */
.seat.vip.selected img {
  filter: grayscale(100%) brightness(60%);
}

/* VIP seats - Remove background color */
.seat.vip {
  background-color: transparent;
  border: none;
}

.seat.vip.reserved,
.seat.vip.selected {
  background-color: transparent;
}


/* Booking modal */
.selection-modal {
  position: absolute;
  right: 0;
  top: 10%;
  width: 285px;
  height: 57vh;
  background-color: #353030;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
}

.main-content {
  padding-top: 60px; /* Adjust this value based on the actual height of your navbar */
}
